<div class="tittle" [ngClass]="(editMode)? 'tittle edit' : ''">Zoznam dodávateľov
  <mat-icon matTooltip="Pridať nového dodávateľa " class="add" (click)="addClick()" fontIcon="add"></mat-icon>
</div>

<div class="detailForm-body">
  <div #gridWrapper class="grid-wrapper">
    <input
      type="text"
      id="filter-text-box"
      placeholder="Vyhľadávanie...."
      (input)="onFilterTextBoxChanged()"/>

    <div class="grid-wrapper">
      <ag-grid-angular
        domLayout='autoHeight'
        class="ag-theme-alpine"
        rowSelection="single"
        (selectionChanged)="onSingleRowSelected()"
        [rowData]="rowData"
        [cacheQuickFilter]="true"
        [sideBar]="sideBar"
        [defaultColDef]="defaultColDef"
        [rowGroupPanelShow]="rowGroupPanelShow"
        (gridReady)="loadData()"
        [columnDefs]="columnDefs"
        [paginationAutoPageSize]="true"
        [pagination]="true">
      </ag-grid-angular>
    </div>
  </div>
</div>
